h1{
    text-align: justify;
    color:rgb(14, 13, 13)
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("wall1.png");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
.loginform{
    background-color: #f6fdfb;
    max-width:400px;
    margin:50px auto;
    opacity:0.8;
    padding:20px;
    border-color:brown;
    border-radius: 8px;
}
label{
    color:black;
}
input{
    padding:3px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(8, 3, 3);
    border-radius: 4px;
}
input[type="checkbox"]{
    display:inline-block;
    margin-right: 5px;
}
.b{
    background-color: brown;
}
.submitButton,.resetButton,.clickButton{
    background-color: rgb(40, 211, 241);
    color:rgb(19, 16, 8);
    padding:8px 12px;
    border-style: dashed;
    border-radius: 5px;
    cursor:pointer;
    font-size:15px;
}
.submitButton:hover{
    background-color: green;
}
.resetButton:hover{
    background-color: red;
}
.clickButton:hover{
    background-color: white;
}